<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<button type="button" th:text="#{switch-en}" onclick="window.location.href='http://localhost:9999/?lang=en'"></button>
<button type="button" th:text="#{switch-ru}" onclick="window.location.href='http://localhost:9999/?lang=ru'"></button>  <!-- 3 -->
<div class="container text-center">
    <h1><p align="center" th:text="#{greeting}">Welcome</p></h1>
    <h3><p align="center"><a th:href="@{/signup}" th:text="#{Signup}">Register</a></p></h3>
    <h3><p align="center"><a  th:text="#{Login}" th:href="@{/login}">Login</a></p></h3>
    <h3><p align="center"><a th:text="#{Proceed}" th:href="@{/search}">Proceed</a></p></h3>
</div>
</body>
</html>